[Unit]
Description=AP/Sta switcher
After=network.target

[Service]
ExecStart=/usr/bin/switcher-daemon
Restart=always
RestartSec=2
User=pi

[Install]
WantedBy=multi-user.target

