[Unit]
Description=Run script by default
After=network.target

[Service]
Environment=DISPLAY=:0
ExecStart=/boot/bydefault/bydefault
WorkingDirectory=/boot/bydefault/
Restart=always
RestartSec=2
User=pi

[Install]
WantedBy=graphical.target

