ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1
country=RU

network={
	ssid="macro_komboko"
	psk="1234567890987654321"
	key_mgmt=WPA-PSK
}
network={
	ssid="micro_komboko"
	psk="1234567890987654321"
	key_mgmt=WPA-PSK
}
