[Unit]
Description=show status by default
After=graphical.target

[Service]
Environment=DISPLAY=:0
WorkingDirectory=/opt/
ExecStartPre=/bin/sleep 5
ExecStart=/bin/bash dashboard.sh
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty8
Restart=always
RestartSec=2
User=pi

[Install]
WantedBy=graphical.target
